*{
    margin: 0;
    padding: 0;
    
}
body {
    background-color: black;
    color: white;
}

.wrapper {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center; /* alinha ao centro do box*/
    align-items: center;/* alinha conteudo/itens centro do box*/
    border: 1px solid white;
    margin: 10px auto;  /* alinha ao centtro do body*/
    color: yellow;
    flex-direction: column;
}

.m-box {
    color:gray ;
    width: 30%;
    height: 10rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px ;
    padding: 30px;

}